
<!DOCTYPE html>
<HTML>

<meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Error Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/css/sortable-theme-bootstrap.css">
    <style>
        form {
            margin: 0px;
            float: left;
            margin-right: 5px;
        }
        @font-face {
            font-family: "timeFont";
            src: url(img/Horsham-Serial-Bold 2.ttf) format("truetype");
        }

        .logo-text { 
            font-family: "timeFont";
        }

        .logo-banner {
            height: 121px;
            background-color: #FCFEFF;
            -webkit-box-shadow: 0px 4px 31px -10px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 4px 31px -10px rgba(0,0,0,0.75);
            box-shadow: 0px 4px 31px -10px rgba(0,0,0,0.75);
        }

        .logo-text {
            display: inline-block;
            font-size: 59px;
            padding: 20px 25px;
            font-weight: bold;
            color: #25A7DD;
        }
    
         input[type="button"] {
            background-color: #2980B9;
            border: #2980B9;
            color: #fff;
            text-shadow: none;
            padding: 9px;
            border-radius: 0px;
            height: 50px;
            border-right: 1px solid #fff;
            cursor: initial;
        }

        input.text-button {
            background-color: #fff;
            color: #25A7DD;
            height: auto;
            padding-left: 15px;
            outline: none;
        }

    </style>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

<body>

    
    <div class="container">

            <p style="margin-top: 3%; font-size: 25px; font-family: arial;text-align: center;">You are not authorized to view this page</p>
    </div>

</body>
</HTML>

