<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Team Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="/css/style2.css" />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
          <link rel="icon" href="/images/001-shutter.png">

</head>
<body>

    <div class="logo-banner row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img">
          <a href="/homePage"><img src="/images/001-shutter-name.png"/></a>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-3 col-xs-3">
          <p class="logo-name"></p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img user-section">
          <img src="/images/002-user.svg"/>
          <div>
            <p>Welcome, Admin</p>
            <p><a>Settings</a><a>Log Out</a></p>
          </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
          <a href="/newTeam">
            <img src="/images/003-sports-and-competition.svg"/>
            <h6>New Team Registration</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
          <a href="/newPlayer">
            <img src="/images/004-player.svg"/>
            <h6>New Player Registration</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
          <a href="/newTournament">
            <img src="/images/002-playoff.svg"/>
            <h6>New Tournament Registration</h6>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
          <a href="/newMatch">
            <img src="/images/002-cricket.svg"/>
            <h6>New Match Registration</h6>
          </a>
        </div>
    </div>

    <div class="row margin-top-20">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
            <img src="/images/012-download.svg"/>
            <h6>Update Details</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
          <a href="/accessControl">
            <img src="/images/013-access.svg"/>
            <h6>Access Control</h6>
          </a>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
          <a href="/approveScore">
            <img src="/images/011-test.svg"/>
            <h6>Approve Match Score</h6>
          </a>
        </div> -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
            <img src="/images/reports.svg"/>
            <h6>Reports</h6>
        </div>
    </div>
</div>

<footer class="footer-section">
    <p>Copyright © 2018 SportsLens</p>
</footer>

</body>
</html>
