<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Manage Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

          <link rel="stylesheet" type="text/css" href="/css/style2.css" />
          <link rel="icon" href="/images/001-shutter.png">

          <script type="text/javascript">
            
            $('select').selectpicker();
          </script>
</head>
<body>

    <div class="logo-banner row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img">
          <a href="/homePage"><img src="/images/001-shutter-name.png"/></a>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-3 col-xs-3">
          <p class="logo-name"></p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img user-section">
          <img src="/images/002-user.svg"/>
          <div>
            <p>Welcome, Admin</p>
            <p><a>Settings</a><a>Log Out</a></p>
          </div>
        </div>
    </div>

<div class="container access-control">
    <div class="add-user-section col-lg-2 col-md-2 col-sm-3 col-xs-3 ">
      <a href="/newSignup">
        <button type="button" class="btn add-user-button">Add User</button>
      </a>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>User Name</th>
            <th>Tournament name</th>
            <th>Access Level</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>sriram_s</td>
            <td>
                <select name="accesstournaments" id="accesstournaments" class="selectpicker" multiple data-live-search="true">
                    <option value="tournament1">IND vs WI - 2018</option>
                    <option value="tournament2">IND vs ENG - 2018</option>            
                </select>
                
            </td>
            <td>
                <div>
                     <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Admin
                          </label>
                          
                    </div>

                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Coding
                      </label>
                    </div>

                    <div class="form-check form-check-inline ">
                        <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" > Reports
                        </label> <br />
                    </div>

                    <input class="submitButton" type="button" name="" id="" value="OK">
                    <input class="submitButton" type="button" name="" id="" value="Reset">

                    
                 </div>
            </td>
          </tr>
          
        </tbody>
      </table>
</div>

<footer class="footer-section" style="position: absolute;">
    <p>Copyright © 2018 SportsLens</p>
</footer>

</body>
</html>
