<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Match Data Status</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="/css/style2.css" />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
          <link rel="icon" href="/images/001-shutter.png">
</head>
<body>

    <div class="logo-banner row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img">
          <a href="/homePage"><img src="/images/001-shutter-name.png"/></a>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-3 col-xs-3">
          <p class="logo-name">Sports Lens</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img user-section">
          <img src="/images/002-user.svg"/>
          <div>
            <p>Welcome, Admin</p>
            <p><a>Settings</a><a>Log Out</a></p>
          </div>
        </div>
    </div>

<div class="container data-action-section">
    <table class="table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>User Name</th>
            <th>Tournament name</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>sriram_s</td>
            <td>
                <select required id="" name="" class="input-xlarge form-control">
                    <option>IND vs WI - 2018</option>
                    <option>IND vs ENG - 2018</option>
                </select>
            </td>
            <td>
                <div>
                    <label class="status-text">No Conflicts</label>
                    <input class="submitButton" type="button" name="" id="" value="View">
                    <input class="submitButton" type="button" name="" id="" value="Aprove">
                    <input class="submitButton" type="button" name="" id="" value="Send Back">
                    
                 </div>
            </td>
          </tr>

          <tr>
            <td>1</td>
            <td>sriram_s</td>
            <td>
                <select required id="" name="" class="input-xlarge form-control">
                    <option>IND vs WI - 2018</option>
                    <option>IND vs ENG - 2018</option>
                </select>
            </td>
            <td>
                <div>
                    <label class="status-text text-danger">4.1 Overs - 2 entries</label>
                    <input class="submitButton" type="button" name="" id="" value="View">
                    <input class="submitButton btn-danger" disabled type="button" name="" id="" value="Aprove">
                    <input class="submitButton" type="button" name="" id="" value="Send Back">
                    
                 </div>
            </td>
          </tr>
          
        </tbody>
    </table>
</div>

</body>
</html>
