<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>New Match Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="/css/style2.css" />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
          <link rel="icon" href="/images/001-shutter.png">

</head>
<body>

    <div class="logo-banner row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img">
          <a href="/homePage"><img src="/images/001-shutter-name.png"/></a>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-3 col-xs-3">
          <p class="logo-name"></p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img user-section">
          <img src="/images/002-user.svg"/>
          <div>
            <p>Welcome, Admin</p>
            <p><a>Settings</a><a>Log Out</a></p>
          </div>
        </div>
    </div>

<div class="container newmatch-section">
    <div class="row">
         <form class="form-horizontal form-content" action="" method="" enctype="multipart/form-data">
         
                <h3>New Match Registration</h3>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-secondary border-right">
                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Tournament Name:</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <select required id="" name="" class="input-xlarge form-control">
                                    <option>IND vs WI - 2018</option>
                                    <option>IND vs ENG - 2018</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Team 1:</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <select required id="" name="" class="input-xlarge form-control">
                                    <option>India (From DB)</option>
                                    <option>West Indies</option>
                                    <option>England</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Team 2:</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <select required id="" name="" class="input-xlarge form-control">
                                    <option>India (From DB)</option>
                                    <option>West Indies</option>
                                    <option>England</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Team 2:</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <select required id="" name="" class="input-xlarge form-control">
                                    <option>India (From DB)</option>
                                    <option>West Indies</option>
                                    <option>England</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Start Date:</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                 <input required format="mm-dd-yyyy" id="" name="" type="date" class="input-xlarge form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Venue:</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <input disabled name="" type="text" placeholder="" class="input-xlarge form-control" value="Auto Filled" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Ground:</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <input disabled name="" type="text" placeholder="" class="input-xlarge form-control" value="Auto Filled" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Match Category:</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <select required id="" name="" class="input-xlarge form-control">
                                    <option>ODI</option>
                                    <option>Test</option>
                                    <option>T20</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Umpire 1:</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <input disabled name="" type="text" placeholder="" class="input-xlarge form-control" value="Auto Filled" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Umpire 2:</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <input disabled name="" type="text" placeholder="" class="input-xlarge form-control" value="Auto Filled" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Referee:</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <input disabled name="" type="text" placeholder="" class="input-xlarge form-control" value="Auto Filled" />
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 team-details-section">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h6>Team 1 players list</h6>
                                <table class="table player-list">
                                    <thead>
                                      <tr>
                                        <th>Player</th>
                                        <th>C</th>
                                        <th>VC</th>
                                        <th>WK</th>
                                        <th>Substitute</th>
                                        <th>Playing</th>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <tr>
                                        <td>Virat Kohli</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>MS Dhoni</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply3</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply4</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply5</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply6</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply7</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply8</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply9</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply10</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply11</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h6>Team 2 players list</h6>
                                <table class="table player-list">
                                    <thead>
                                      <tr>
                                        <th>Player</th>
                                        <th>C</th>
                                        <th>VC</th>
                                        <th>WK</th>
                                        <th>Substitute</th>
                                        <th>Playing</th>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <tr>
                                        <td>Ply1</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply2</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply3</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply4</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply5</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply6</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply7</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply8</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply9</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply10</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>Ply11</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="caption" name="captionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="vicecaption" name="vicecaptionselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" id="" value="wicketkeeper" name="wicketkeeperselect2">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="substitute1" name="substitue">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="" value="playing1" name="playing">
                                                </label>
                                            </div>
                                        </td>
                                      </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <input class="submitButton" type="submit" name="" id="" value="Submit">
                </div>
        </form>
    </div>
</div>

<footer class="footer-section">
    <p>Copyright  2018 SportsLens</p>
</footer>

</body>
</html>
