<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Player Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
          <link rel="stylesheet" type="text/css" href="/css/style2.css" />
          <link rel="icon" href="/images/001-shutter.png">
</head>
<body>

    <div class="logo-banner row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img">
          <a href="/homePage"><img src="/images/001-shutter-name.png"/></a>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-3 col-xs-3">
          <p class="logo-name">Sports Lens</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img user-section">
          <img src="/images/002-user.svg"/>
          <div>
            <p>Welcome, Admin</p>
            <p><a>Settings</a><a>Log Out</a></p>
          </div>
        </div>
    </div>

<div class="container">
    <div class="row">
         <form class="form-horizontal action-form" action="" method="" enctype="multipart/form-data">

            <fieldset class="form-content">
                <!-- Address form -->
         
                <h3>New Player Registration</h3>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Player's First Name:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <input required name="" type="text" placeholder="Player's First Name"
                        class="input-xlarge form-control" />
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Player's Last Name:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <input required name="" type="text" placeholder="Player's Last Name"
                        class="input-xlarge form-control" />
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Batting Style:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <select required id="" name="" class="input-xlarge form-control">
                            <option>Right Hand Batsman</option>
                            <option>Left Hand Batsman</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Bowling Style:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <select required id="" name="" class="input-xlarge form-control">
                            <option>Right Hand Fast</option>
                            <option>Left Arm Fast</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Team Name:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                         <select required id="" name="" class="input-xlarge form-control">
                            <option>Team 1(from 1st screen)</option>
                            <option>Team 2</option>
                            <option>Team 3</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Player Image:</label>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Player's Date of Birth:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                         <input required format="mm-dd-yyyy" id="" name="" type="date" class="input-xlarge form-control" />
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12">Country of Origin:</label>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                         <select required id="" name="" class="input-xlarge form-control">
                            <option>India</option>
                            <option>Australia</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <input class="submitButton" type="submit" name="" id="" value="Submit">
                </div>

            </fieldset>
        </form>
    </div>
</div>

</body>
</html>
