<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Update Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="/css/style2.css" />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
          <link rel="icon" href="/images/001-shutter.png">

</head>
<body>

    <div class="logo-banner row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img">
          <a href="/homePage"><img src="/images/001-shutter-name.png"/></a>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-3 col-xs-3">
          <p class="logo-name"></p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 logo-section-img user-section">
          <img src="/images/002-user.svg"/>
          <div>
            <p>Welcome, Admin</p>
            <p><a>Settings</a><a>Log Out</a></p>
          </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
            <img src="/images/015-bench.svg"/>
            <h6>Update Team Details</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
            <img src="/images/update-player-add.svg"/>
            <h6>Update Player Details</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
            <img src="/images/008-diagram.svg"/>
            <h6>Update Tournament Details</h6>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nav-options">
            <img src="/images/001-cricket.svg"/>
            <h6>Update Match Details</h6>
        </div>
    </div>
</div>

<footer class="footer-section" style="position: absolute;">
    <p>Copyright © 2018 SportsLens</p>
</footer>

</body>
</html>
